<div class="container-fluid border-top" style="border-color: #f9c4d4 !important;">
  <div class="w-100 text-center">
    <h4 class="fw-light py-4" style="color: #f9c4d4">Lucky Curves & Strong Muscles</h4>
  </div>
  <div class="w-100">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="w-100 text-center">
          <h5 class="mb-3">Navigation</h5>
        </div>
        <div>
          <ul class="pb-3 mb-0 border-bottom" style="list-style: none;">
            <li>
              <a class="link-offset-2 link-dark link-underline-opacity-10 link-underline-opacity-100-hover"
                 routerLink="home">Startseite</a>
            </li>
            <li>
              <a class="link-offset-2 link-dark link-underline-opacity-10 link-underline-opacity-100-hover"
                 href="home#offer">Angebot</a>
            </li>
            <li>
              <a class="link-offset-2 link-dark link-underline-opacity-10 link-underline-opacity-100-hover"
                 href="home#contact">Kontakt</a>
            </li>
          </ul>
          <ul class="pt-3" style="list-style: none;">
            <li>
              <a class="link-offset-2 link-dark link-underline-opacity-10 link-underline-opacity-100-hover"
                 routerLink="data-policy">Datenschutz</a>
            </li>
            <li>
              <a class="link-offset-2 link-dark link-underline-opacity-10 link-underline-opacity-100-hover"
                 routerLink="imprint">Impressum</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="w-100 text-center">
          <h5 class="mb-3">Öffnungszeiten</h5>
          <div>
            <ul class="text-start" style="list-style: none">
              <li>
                <p class="mb-0">Montag: 08:00 - 12:30 14:00 - 20:00</p>
                <p class="mb-0">Dienstag: 08:00 - 10:00 16:00 - 19:00</p>
                <p class="mb-0">Mittwoch: 08:00 - 12:30 14:00 - 20:00</p>
                <p class="mb-0">Donnerstag: 08:00 - 10:00 16:00 - 19:00</p>
                <p class="mb-0">Freitag: 08:00 - 12:30 14:00 - 19:30</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="w-100 text-center">
          <h5 class="mb-3">Kontakt</h5>
          <div>
            <ul class="text-start pb-3 border-bottom" style="list-style: none">
              <li>
                <p class="mb-0 fw-bold">Lucky Curves & Strong Muscles</p>
                <p class="mb-0 fw-bold">Tanja Dallinger</p>
                <p class="mb-0">Hauptstraße 27</p>
                <p class="mb-0">3170 Hainfeld</p>
              </li>
            </ul>
            <ul class="text-start pt-0" style="list-style:none">
              <li>
                <div class="row align-items-center">
                  <div class="col-auto">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                  </div>
                  <div class="col-auto">
                    <a [href]="'mailto:'+email"
                       class="mb-0 link-offset-2 link-underline-opacity-10 link-dark link-opacity-100-hover">{{ email }}</a>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-auto">
                    <fa-icon [icon]="faGlobe"></fa-icon>
                  </div>
                  <div class="col-auto">
                    <a class="mb-0 link-offset-2 link-underline-opacity-10 link-dark link-opacity-100-hover"
                       href="https://www.luckycurves.at">www.luckycurves.at</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center py-3 border-top mt-4" style="border-color: #f9c4d4 !important;">
    <p class="mb-0" style="color: #6c757d;">&copy; 2024 Lucky Curves & Strong Muscles. Alle Rechte vorbehalten.</p>
  </div>
</div>
