<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Divinia Liege</h2>
    <div class="row">
      <div class="col-md-4 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <video #videoRef class="w-100" controls id="power-plate-video" playsinline style="border-radius: 30px;">
          <source src="assets/PowerPlate.mp4"/>
          Dein Browser unterstützt kein HTML5-Video.
        </video>
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Durch Ultraschall und Strom werden Fettzellen gezielt geöffnet und entleert. Der Körper transportiert danach die freigesetzten Giftstoffe über die Lymphe ab, was zu einer effektiven Umfangsreduktion führt.
          Bereits nach der ersten Anwendung sind bis zu 5 cm weniger Umfang möglich! Entspannt abnehmen und gleichzeitig dein Wohlbefinden steigern?
          Sichere dir jetzt deinen Probetermin und erlebe die Ergebnisse selbst.
        </p>
        <div class="d-flex flex-row align-items-center">
          <button fragment="contact" routerLink="/home" class="btn btn-primary m-1" style="width: 300px">Probetraining
            vereinbaren
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

