<div class="container-fluid text-center">
  <h1 class="fs-1">Unser Angebot</h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 py-5">
        <div (click)="routeTo('/power-plate')" class="image-container">
          <img
            alt="Power Plate"
            height="400"
            loading="lazy"
            ngSrc="../../../assets/OfferTile1.jpg"
            width="600"
          >
          <h2 class="fw-light">Power Plate</h2>
        </div>
      </div>
      <div (click)="routeTo('group-course')" class="col-12 col-md-6 py-5">
        <div class="image-container">
          <img

            alt="Knochen stärken"
            height="400"
            loading="lazy"
            ngSrc="../../../assets/OfferTile2.jpeg"
            width="600"
          >
          <h2 class="fw-light">Gruppenkurse</h2>
        </div>
      </div>
      <div (click)="routeTo('/divinia')" class="col-12 col-md-6 py-5">
        <div class="image-container">
          <img
            alt="Abnehmen"
            height="400"
            loading="lazy"
            ngSrc="../../../assets/DivinaLiege.jpg"
            width="600"
          >
          <h2 class="fw-light">Divinia Liege</h2>
        </div>
      </div>
      <div (click)="routeTo('/pelvic-chair')" class="col-12 col-md-6 py-5">
        <div class="image-container">
          <img
            alt="Herzkreislaufsystem stärken"
            height="400"
            loading="lazy"
            ngSrc="../../../assets/PelvicChair.jpg"
            width="600"
          >
          <h2 class="fw-light">Pelvic Chair</h2>
        </div>
      </div>
    </div>
  </div>
</div>
