.image-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .image-container {
    height: 250px;
  }
}
