.carousel-item {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .carousel-item {
    height: 70vh;
  }
}

@media (max-width: 991px) {
  .carousel-item {
    height: auto;
  }
}

.carousel-item img {
  max-height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.carousel-caption h1,
.carousel-caption p {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
