<div
  class="carousel slide carousel-fade pb-5"
  data-bs-ride="carousel"
  id="backgroundCarousel"
>
  <div class="carousel-inner">
    <!-- Power Plate -->
    <div class="carousel-item active" data-bs-interval="5000">
      <img
        alt="Power Plate"
        class="d-block w-100"
        fetchpriority="high"
        loading="eager"
        src="../../../assets/OfferTile1.jpg"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-center"
      >
        <h1>Power Plate</h1>
        <p>Effektives Ganzkörpertraining auf der Vibrationsplatte.</p>
        <a class="btn btn-primary" routerLink="/power-plate">Mehr erfahren</a>
      </div>
    </div>

    <!-- Gruppenkurse -->
    <div class="carousel-item" data-bs-interval="5000">
      <img
        alt="Gruppenkurse"
        class="d-block w-100"
        loading="lazy"
        src="../../../assets/OfferTile2.jpeg"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-center"
      >
        <h1>Gruppenkurse</h1>
        <p>Motiviertes Trainieren in der Gruppe für jeden Fitnesslevel.</p>
        <a class="btn btn-primary" routerLink="/group-course">Jetzt starten</a>
      </div>
    </div>

    <!-- Divina Liege -->
    <div class="carousel-item" data-bs-interval="5000">
      <img
        alt="Divinia Liege"
        class="d-block w-100"
        loading="lazy"
        src="../../../assets/DivinaLiege.jpg"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-center"
      >
        <h1>Divinia Liege</h1>
        <p>Entspannen und regenerieren auf unserer Divinia Liege.</p>
        <a class="btn btn-primary" routerLink="/divinia">Mehr erfahren</a>
      </div>
    </div>

    <!-- Pelvic Chair -->
    <div class="carousel-item" data-bs-interval="5000">
      <img
        alt="Pelvic Chair"
        class="d-block w-100"
        loading="lazy"
        src="../../../assets/PelvicChair.jpg"
      />
      <div
        class="carousel-caption d-flex flex-column justify-content-center align-items-center"
      >
        <h1>Pelvic Chair</h1>
        <p>Stärke deinen Beckenboden mit gezielten Übungen.</p>
        <a class="btn btn-primary" routerLink="/pelvic-chair"
        >Jetzt ausprobieren</a
        >
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    data-bs-slide="prev"
    data-bs-target="#backgroundCarousel"
    type="button"
  >
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Vorheriges</span>
  </button>
  <button
    class="carousel-control-next"
    data-bs-slide="next"
    data-bs-target="#backgroundCarousel"
    type="button"
  >
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Nächstes</span>
  </button>
</div>
