<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Gruppenkurse</h1>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Rückentraining</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img
          alt="Rückentraining1"
          class="d-block w-100"
          fetchpriority="high"
          loading="eager"
          src="assets/ruecken1.jpeg"
          style="border-radius: 30px;"
        >
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Besonderer Wert wird auf die Rumpfmuskulatur, die Wirbelsäule, die Beinachse und das Gleichgewicht gelegt. Es
          gibt auch viel Kräftigung, Mobilisierung und Dehnung.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
            vereinbaren</a>
        </div>
      </div>
    </div>
  </div>

  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Step Aerobic</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="step1" class="w-100"
             fetchpriority="high"
             loading="eager"
             src="assets/step1.jpg" style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Step-Aerobic ist ein aerobes Herz-Kreislauf-Training, das eine sehr gute Möglichkeit zur Verbesserung von
          Ausdauer und Koordination darstellt. Darüber hinaus ist Step-Aerobic gelenkschonend und trainiert vor allem
          die großen Muskelgruppen wie Beine und Gesäß.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
            vereinbaren</a>
        </div>
      </div>
    </div>
  </div>

  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Bauch Bein Po</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="bauch1" class="w-100"
             fetchpriority="low"
             loading="lazy"
             src="assets/bauchbeinpo.jpg" style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Bauch, Bein, Po (BBP) ist ein sinnvolles Training, um gezielt die Bauch-, Oberschenkel- und Gesäßmuskulatur
          anzusprechen. BBP kann dabei helfen, Muskeln aufzubauen und zu definieren, Kalorien zu verbrennen,
          Fettmasse zu verlieren, die Körperhaltung zu verbessern und die Leistung zu steigern.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
            vereinbaren</a>
        </div>
      </div>
    </div>
  </div>

  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Pump</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="pump11" class="w-100"
             src="assets/pump.jpg" style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Viele der klassischen Langhantelübungen wie Bankdrücken, Kreuzheben, Kniebeugen oder Schulterdrücken sind
          Grundübungen. Das bedeutet, dass mehrere Muskelgruppen gleichzeitig und meist mit „schwerem“ Gewicht
          trainiert werden. Dadurch können Sie gleichzeitig Muskelmasse und Kraft aufbauen.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
            vereinbaren</a>
        </div>
      </div>
    </div>
  </div>

  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Cardio</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="cardio1" class="w-100"
             fetchpriority="low"
             loading="lazy"
             src="assets/cardio.jpg"
             style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Cardio-Training ist Ausdauertraining und zeichnet sich vor allem dadurch aus,
          dass es die Herz- und Atemfrequenz und langfristig auch die Ausdauer steigert.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
            vereinbaren</a>
        </div>
      </div>
    </div>
  </div>

  <div class="w-75 text-center mx-auto" style="margin-bottom: 5%;">
    <h2 class="py-3">Gymnastikplan</h2>
    <div class="row mb-4">
      <div class="col-12 d-flex justify-content-center align-items-center mb-2">
        <fa-icon [icon]="faClock" size="5x" style="color: #f9c4d4"></fa-icon>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped text-start">
        <thead class="table-light">
        <tr>
          <th>Tag</th>
          <th>Kurs & Dauer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="fw-bold">Montag</td>
          <td>
            <p class="mb-1"><strong>9:30</strong> Rückentraining (60 Minuten)</p>
            <p class="mb-1"><strong>10:30</strong> Stretching (30 Minuten)</p>
            <p class="mb-1"><strong>18:00</strong> Bauch Bein Po (60 Minuten)</p>
            <p class="mb-1"><strong>19:00</strong> Step Aerobic (60 Minuten)</p>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">Mittwoch</td>
          <td>
            <p class="mb-1"><strong>9:30</strong> Bauch Bein Po (60 Minuten)</p>
            <p class="mb-1"><strong>18:00</strong> Pump (60 Minuten)</p>
            <p class="mb-1"><strong>19:00</strong> Step Aerobic (60 Minuten)</p>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">Donnerstag</td>
          <td>
            <p class="mb-1"><strong>18:30</strong> Bauch Bein Po (60 Minuten)</p>
            <p class="mb-1"><strong>19:30</strong> Stretching (30 Minuten)</p>
          </td>
        </tr>
        <tr>
          <td class="fw-bold">Freitag</td>
          <td>
            <p class="mb-1"><strong>9:30</strong> Rückentraining (60 Minuten)</p>
            <p class="mb-1"><strong>10:30</strong> Stretching (30 Minuten)</p>
            <p class="mb-1"><strong>17:00</strong> Rückentraining (60 Minuten)</p>
            <p class="mb-1"><strong>18:30</strong> Pump (60 Minuten)</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center mt-4">
      <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
        vereinbaren</a>
    </div>
  </div>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Video</h2>
    <video #gruppenKurs controls id="power-plate-video" playsinline style="border-radius: 30px;" width="400px">
      <source src="assets/gruppenkurs.mp4"/>
      Dein Browser unterstützt kein HTML5-Video.
    </video>
    <div class="d-flex flex-row align-items-center justify-content-center mt-4">
      <a class="btn btn-primary m-1" fragment="contact" routerLink="/home" style="width: 300px">Probetraining
        vereinbaren</a>
    </div>
  </div>

</div>
<div></div>
