<div class="container-fluid text-center animate__animated animate__fadeInUp" style="margin-bottom: 8%">
  <h1 class="fs-1">Kontakt</h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 py-5 text-start">
        <div class="w-100 text-center">
          <h2 class="fs-2 text-start">Kontakt</h2>
          <div>
            <p class="mb-0 fw-bold text-start">Lucky Curves &amp; Strong Muscles</p>
            <p class="mb-0 fw-bold text-start">Tanja Dallinger</p>
            <ul class="text-start pt-0 ps-0 list-unstyled">
              <li>
                <div class="d-flex align-items-center">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                  <a
                    [href]="'mailto:' + email"
                    class="mb-0 ms-2 link-offset-2 link-underline-opacity-10 link-dark link-opacity-100-hover"
                  >
                    {{ email }}
                  </a>
                </div>
                <div class="d-flex align-items-center mt-2">
                  <fa-icon [icon]="faGlobe"></fa-icon>
                  <a
                    class="mb-0 ms-2 link-offset-2 link-underline-opacity-10 link-dark link-opacity-100-hover"
                    href="https://www.luckycurves.at"
                  >
                    www.luckycurves.at
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-6 py-5 text-start">
        <h2 class="fs-2">Öffnungszeiten</h2>
        <p>Montag: 08:00 - 12:30 14:00 - 20:00 </p>
        <p>Dienstag: 08:00 - 10:00 16:00 - 19:00</p>
        <p>Mittwoch: 08:00 - 12:30 14:00 - 20:00</p>
        <p>Donnerstag: 08:00 - 10:00 16:00 - 19:00</p>
        <p>Freitag: 08:00 - 12:30 14:00 - 19:30</p>
      </div>
      <div class="col-12 col-md-6 py-5 text-start">
        <h2 class="fs-2">Kontaktformular</h2>
        <form (ngSubmit)="sendEmail()">
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input
              [(ngModel)]="name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Dein Name"
              required
              type="text"
            >
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">E-Mail-Adresse</label>
            <input
              [(ngModel)]="emailForMail"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@beispiel.de"
              required
              type="email"
            >
          </div>
          <div class="mb-3">
            <label class="form-label" for="phone">Telefonnummer</label>
            <input
              #phoneInput="ngModel"
              [(ngModel)]="phone"
              class="form-control"
              id="phone"
              name="phone"
              pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$"
              placeholder="Ihre Telefonnummer"
              required
              type="tel"
            >

          </div>
          <div class="mb-3">
            <label class="form-label" for="message">Nachricht</label>
            <textarea
              [(ngModel)]="message"
              class="form-control"
              id="message"
              name="message"
              placeholder="Deine Nachricht"
              required
              rows="5"
            ></textarea>
          </div>
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <button class="btn btn-primary" type="submit">Senden</button>
        </form>
      </div>


      <div class="col-12 col-md-6 py-5 text-start">
        <h2 class="fs-2">Adresse</h2>
        <iframe
          allowfullscreen=""
          height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2858.914867705182!2d15.76886157644382!3d48.03578135824242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d9128cdcb4f97%3A0x62bc3834e4470f9f!2sLuckycurves!5e1!3m2!1sde!2sat!4v1731686251307!5m2!1sde!2sat"
          style="border:0;"
          width="100%"></iframe>
      </div>
    </div>
  </div>
</div>
