<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Power Plate</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="power1" class="w-100"
             src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7621.jpg/picture-2600?_=18c35aa2fb8"
             style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Eine ausgewogene Ernährung in Kombination mit intensivem Power-Plate-Training kann beim Abnehmen helfen.
          Mit bis zu 2400 Muskelkontraktionen können nahezu 100 % der Muskelfasern erreicht werden. Das
          Fatburner-Programm trainiert insbesondere die großen Muskelgruppen im Körper. Ziel ist der Muskelaufbau und
          die damit verbundene Steigerung des Grundumsatzes, was die
          Gewichtsabnahme bei gleichzeitiger Aufrechterhaltung einer ausgewogenen Ernährung fördert.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <h1>Gruppenkurse</h1>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Rückentraining</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <div class="carousel slide carousel-fade" id="carouselRuecken">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img alt="Rückentraining1"
                   class="d-block w-100"
                   src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7759.jpg/picture-2600?_=18c35a9f138">
            </div>
            <div class="carousel-item">
              <img alt="Rückentraining2"
                   class="d-block w-100"
                   src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7755.jpg/picture-2600?_=18c676622a0">
            </div>
          </div>
          <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselRuecken" type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselRuecken" type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Besonderer Wert wird auf die Rumpfmuskulatur, die Wirbelsäule, die Beinachse und das Gleichgewicht gelegt. Es
          gibt auch viel Kräftigung, Mobilisierung und Dehnung.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Step Aerobic</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="step1" class="w-100"
             src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7721.jpg/picture-2600?_=18c67696a78"
             style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Step-Aerobic ist ein aerobes Herz-Kreislauf-Training, das eine sehr gute Möglichkeit zur Verbesserung von
          Ausdauer und
          Koordination darstellt. Darüber hinaus ist Step-Aerobic gelenkschonend und trainiert vor allem die großen
          Muskelgruppen wie Beine und Gesäß.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Bauch Bein Po</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="bauch1" class="w-100"
             src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7727.jpg/picture-2600?_=18c676a5ca8"
             style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Bauch, Bein, Po (BBP) ist ein sinnvolles Training, um gezielt die Bauch-, Oberschenkel- und Gesäßmuskulatur
          anzusprechen. BBP kann dabei helfen, Muskeln aufzubauen und zu definieren, Kalorien zu verbrennen,
          Fettmasse zu verlieren, die Körperhaltung zu verbessern und die Leistung zu steigern.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Pump</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="pump11" class="w-100"
             src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7712.jpg/picture-2600?_=18c35a97c08"
             style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Viele der klassischen Langhantelübungen wie Bankdrücken, Kreuzheben, Kniebeugen oder Schulterdrücken sind
          Grundübungen. Das bedeutet, dass mehrere Muskelgruppen gleichzeitig und meist mit „schwerem“ Gewicht trainiert
          werden.
          Dadurch können Sie gleichzeitig Muskelmasse und Kraft aufbauen.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Cardio</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img alt="cardio1" class="w-100"
             src="https://www.luckycurves.at/.cm4all/uproc.php/0/.8S6A7734.jpg/picture-2600?_=18c3589bb20"
             style="border-radius: 30px">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Cardio-Training ist Ausdauertraining und zeichnet sich vor allem dadurch aus,
          dass es die Herz- und Atemfrequenz und langfristig auch die Ausdauer steigert.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 text-center mx-auto" style="margin-bottom: 5%;">
    <h2 class="py-3">Gymnastikplan</h2>
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center mb-4">
        <fa-icon [icon]="faClock" size="5x" style="color: #f9c4d4"></fa-icon>
      </div>
      <div class="col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <div class="row">
          <div class="col-md-6 col-12 text-start mb-4" style="padding-right: 15px;">
            <h4 class="mb-3">Montag:</h4>
            <p>9:30 Rückentraining (60 Minuten)</p>
            <p>10:30 Stretching (30 Minuten)</p>
            <p>18:00 Bauch Bein Po (60 Minuten)</p>
            <p>19:00 Step Aerobic (60 Minuten)</p>

            <h4 class="mt-5 mb-3">Mittwoch:</h4>
            <p>9:30 Bauch Bein Po (60 Minuten)</p>
            <p>18:00 Pump (60 Minuten)</p>
            <p>19:00 Step Aerobic (60 Minuten)</p>
          </div>
          <div class="col-md-6 col-12 text-start mb-4" style="padding-left: 15px;">
            <h4 class="mb-3">Donnerstag:</h4>
            <p>18:30 Bauch Bein Po (60 Minuten)</p>
            <p>19:30 Stretching (30 Minuten)</p>

            <h4 class="mt-5 mb-3">Freitag:</h4>
            <p>9:30 Rückentraining (60 Minuten)</p>
            <p>10:30 Stretching (30 Minuten)</p>
            <p>17:00 Rückentraining (60 Minuten)</p>
            <p>18:30 Pump (60 Minuten)</p>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-4">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3"> Divinia Liege</h2>
    <div class="row">
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <div class="carousel slide carousel-fade" id="carouselLiege">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img alt="liege1"
                   class="d-block w-100" src="https://www.luckycurves.at/.cm4all/mediadb/8S6A7305.jpg">
            </div>
            <div class="carousel-item">
              <img alt="liege3"
                   class="d-block w-100" src="https://www.luckycurves.at/.cm4all/mediadb/8S6A7276.jpg">
            </div>
            <div class="carousel-item">
              <img alt="liege4"
                   class="d-block w-100"
                   src="https://www.luckycurves.at/.cm4all/mediadb/279CA447-9A10-4135-8F67-7B59ADE1FEAA.jpg">
            </div>
            <div class="carousel-item">
              <img alt="liege5"
                   class="d-block w-100"
                   src="https://www.luckycurves.at/.cm4all/mediadb/C5355FA6-6137-47C7-9B2A-9760D00213A4.jpg">
            </div>
          </div>
          <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselLiege" type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselLiege" type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Besonderer Wert wird auf die Rumpfmuskulatur, die Wirbelsäule, die Beinachse und das Gleichgewicht gelegt. Es
          gibt auch viel Kräftigung, Mobilisierung und Dehnung.
        </p>
        <div class="d-flex flex-row align-items-center">
          <a class="btn btn-primary m-1" href="/pricing" style="width: 300px">Probetraining vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>
