<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img
        alt="Logo"
        decoding="async"
        fetchpriority="high"
        height="75"
        loading="eager"
        ngSrc="assets/LogoLuckyCurves.png"
        width="75"
      >
    </a>


    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation ein-/ausblenden"
            class="navbar-toggler" data-bs-target="#navbarNav"
            data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#offer">Angebot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
