a {
  color: #f9c4d4;
  font-size: 25px;
  font-weight: lighter;
  margin: 10px;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.05);
  color: #f9c4d4;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

