<div class="w-75 text-center mx-auto" style="margin-bottom: 5%;">
  <h1 class="py-3">Impressum</h1>
  <div class="row">
    <div class="col-12 text-start">
      <p>
        Lucky Curves &amp; Strong Muscles<br>
        Tanja Dallinger<br>
        Hauptstraße 27<br>
        3170 Hainfeld<br>
        E-Mail: <a href="mailto:tanja.dallinger@luckycurves.at">tanja.dallinger&#64;luckycurves.at</a><br>
        ATU79349938
      </p>
    </div>
  </div>
</div>
