<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Power Plate</h2>
    <div class="row">
      <div class="col-md-4 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <video #powerPlate class="w-100" controls id="power-plate-video" playsinline style="border-radius: 30px;">
          <source src="assets/PowerPlateVideo.mp4"/>
          Dein Browser unterstützt kein HTML5-Video.
        </video>
      </div>
      <div class="col-md-8 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Mit der Power Plate beschleunigst du effektiv den Muskelaufbau – auch in tief liegenden Muskelschichten.
          Das Ergebnis: Ein erhöhter Grundumsatz, gesteigerte Fettverbrennung und ein aktiver Stoffwechsel, der selbst
          in Ruhephasen Kalorien verbraucht.
          Dank der intensiven Vibrationen genügen bereits zwei kurze Einheiten pro Woche (je ca. 20 Minuten), um
          merkbare Fortschritte zu erzielen.
          In Kombination mit einer ausgewogenen Ernährung wird die Power Plate so zum nachhaltigen Booster für deine
          Figur, dein Wohlbefinden und deine Gesundheit.
        </p>
        <div class="d-flex flex-row align-items-center">
          <button (click)="scrollToSection()" class="btn btn-primary m-1" style="width: 300px">Probetraining
            vereinbaren
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center w-100">
  <h2 class="py-3" id="termin-power-plate">Termin vereinbaren</h2>
  <div class="calendly-inline-widget"
       data-url="https://calendly.com/luckycurves/30min?hide_gdpr_banner=1"
       style="min-width:320px;height:700px;">
  </div>
</div>
