<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="w-75 text-center" style="margin-bottom: 5%;">
    <h2 class="py-3">Pelvic Chair</h2>
    <div class="row">
      <div class="col-md-4 col-12 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <video #pelvic class="w-100" controls id="video" playsinline style="border-radius: 30px;">
          <source src="assets/Pelvic%20Chair%20Reel.MP4" type="video/mp4"/>
          Dein Browser unterstützt kein HTML5-Video.
        </video>
      </div>
      <div class="col-md-8 col-12 d-flex flex-column justify-content-center align-items-center text-center">
        <p class="lead mt-4">
          Unsere Pelvic Chair Trainingsmethode hilft dir dabei, gezielt deine Beckenbodenmuskulatur zu stärken und
          deine Körpermitte zu stabilisieren. Ob zur Prävention oder als Unterstützung bei Rückenproblemen und
          Inkontinenz –
          der Pelvic Chair bietet dir effektive Übungen für ein aktives und gesundes Leben.
        </p>
        <p class="lead mt-2">
          Schon wenige Einheiten pro Woche reichen aus, um sichtbare Fortschritte zu erzielen. In Kombination mit einer
          ausgewogenen Ernährung wird der Pelvic Chair dein Booster für mehr Stabilität, Fitness und Wohlbefinden.
        </p>
        <div class="d-flex flex-row align-items-center">
          <button (click)="scrollToSection()" class="btn btn-primary m-1" style="width: 300px">Probetraining
            vereinbaren
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center w-100">
  <h2 class="py-3" id="termin-pelvic">Termin vereinbaren</h2>
  <div class="calendly-inline-widget"
       data-url="https://calendly.com/luckycurves/pelvic-chair?hide_gdpr_banner=1"
       style="min-width:320px;height:700px;"></div>
</div>
