<div class="w-75 text-center mx-auto" style="margin-bottom: 5%;">
  <h1 class="py-3">Datenschutzerklärung</h1>
  <div class="row">
    <div class="col-12 text-start">
      <p>
        Wir möchten Sie in dieser Datenschutzerklärung über die wesentlichen Aspekte der Datenverarbeitung im Rahmen
        unserer Webseite informieren. Die Erhebung und Verarbeitung von personenbezogenen Daten erfolgt ausschließlich
        unter Berücksichtigung der geltenden gesetzlichen Bestimmungen (Datenschutzgrundverordnung,
        Telekommunikationsgesetz 2003).
      </p>

      <h3 class="mt-4">1. Erfassung und Verarbeitung von personenbezogenen Daten</h3>
      <p>
        Beim Zugriff auf unsere Webseite oder Ihrem Besuch werden technisch bedingt Ihre IP-Adresse sowie der Beginn und
        das Ende Ihrer Sitzung erfasst. Diese Erfassung erfolgt im Rahmen unseres berechtigten Interesses gemäß Art. 6
        Abs. 1 lit f DSGVO.
      </p>

      <h3 class="mt-4">2. Kontakt mit uns</h3>
      <p>
        Wenn Sie uns über das Kontaktformular auf unserer Webseite oder per E-Mail kontaktieren, werden die von Ihnen
        übermittelten Daten für die Bearbeitung Ihrer Anfrage oder eventuelle Folgefragen für einen Zeitraum von sechs
        Monaten gespeichert. Eine Weitergabe Ihrer Daten erfolgt ohne Ihre Einwilligung nicht.
      </p>

      <h3 class="mt-4">3. Cookies</h3>
      <p>
        Unsere Webseite verwendet sogenannte Cookies. Dabei handelt es sich um kleine Textdateien, die durch Ihren
        Browser auf Ihrem Endgerät gespeichert werden. Cookies dienen dazu, unser Angebot nutzerfreundlicher zu
        gestalten. Einige Cookies verbleiben auf Ihrem Endgerät, bis Sie sie löschen. Sie können Ihren Browser so
        konfigurieren, dass Sie über das Setzen von Cookies informiert werden und diese nur im Einzelfall erlauben. Die
        Deaktivierung von Cookies kann jedoch die Funktionalität unserer Webseite einschränken.
      </p>

      <h3 class="mt-4">4. Google Maps</h3>
      <p>
        Unsere Webseite nutzt Funktionen des Webkartendienstes "Google Maps", bereitgestellt von Google Ireland Limited.
        Die Verarbeitung Ihrer IP-Adresse im Rahmen der Nutzung von Google Maps erfolgt durch Google in den USA. Weitere
        Informationen zum Umgang mit Nutzerdaten durch Google finden Sie in deren Datenschutzerklärung: <a
        href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a>.
      </p>

      <h3 class="mt-4">5. Google Fonts</h3>
      <p>
        Wir verwenden Schriftarten von "Google Fonts", bereitgestellt von Google Ireland Limited. Beim Aufrufen unserer
        Webseite lädt Ihr Browser Schriftarten, die von Google in den Cache gespeichert werden können. Weitere
        Informationen zu Google Fonts und dem Umgang mit Nutzerdaten finden Sie hier: <a
        href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a>.
      </p>

      <h3 class="mt-4">Ihre Rechte als Betroffener</h3>
      <p>
        Als betroffene Person haben Sie das Recht auf Auskunft, Löschung, Berichtigung, Übertragbarkeit, Widerspruch,
        Widerruf und Einschränkung Ihrer gespeicherten Daten. Bei Verstößen gegen das Datenschutzrecht können Sie sich
        bei uns (<a href="mailto:tanja.dallinger@luckycurves.at">tanja.dallinger&#64;luckycurves.at</a>) oder der
        Datenschutzbehörde beschweren.
      </p>

      <h3 class="mt-4">6. Kontaktinformationen</h3>
      <p>
        Webseitenbetreiber: Tanja Dallinger<br>
        Telefonnummer: <a href="tel:06643594144">06643594144</a><br>
        E-Mail: <a href="mailto:tanja.dallinger@luckycurves.at">tanja.dallinger&#64;luckycurves.at</a>
      </p>
    </div>
  </div>
</div>
