/* You can add global styles to this file, and also import other style files */

.btn-primary {
  background-color: #f9c4d4;
  border-color: #f9c4d4;
}

.btn-primary:focus {
  background-color: rgba(249, 196, 212, 0.7);
  border-color: rgba(249, 196, 212, 0.7);
}

.btn-primary:hover {
  background-color: rgba(249, 196, 212, 0.7);
  border-color: rgba(249, 196, 212, 0.7);
}

.btn-primary:active {
  background-color: rgba(249, 196, 212, 0.7);
  border-color: rgba(249, 196, 212, 0.7);
}

.btn-primary:focus-visible {
  background-color: rgba(249, 196, 212, 0.7);
  border-color: rgba(249, 196, 212, 0.7);
}

.btn-secondary {
  background-color: inherit;
  border-color: #f9c4d4;
  color: #f9c4d4;
}

.btn-secondary:active {
  background-color: rgba(249, 196, 212, 0.2);
  color: #f9c4d4;
  border-color: #f9c4d4;
}

.btn-secondary:focus-visible {
  background-color: rgba(249, 196, 212, 0.2);
  color: #f9c4d4;
  border-color: #f9c4d4;
}

.btn-secondary:focus {
  background-color: rgba(249, 196, 212, 0.2);
  color: #f9c4d4;
  border-color: #f9c4d4;
}

.btn-secondary:hover {
  background-color: rgba(249, 196, 212, 0.2);
  color: #f9c4d4;
  border-color: #f9c4d4;
}

.btn:active,
.btn.active,
.btn.show {
  color: whitesmoke !important;
  background-color: #f9c4d4 !important;
  border-color: #f9c4d4 !important;
}

html {
  scroll-behavior: smooth;
}
