<app-spinning-banner></app-spinning-banner>

<app-offers-tiles id="offer"></app-offers-tiles>

<app-contact id="contact"></app-contact>


<div aria-hidden="true" aria-labelledby="meinModalLabel" class="modal fade" id="aktionModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="meinModalLabel">Wir suchen Verstärkung!</h1>
        <button aria-label="Schließen" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <img alt="AktionBanner" src="./assets/Banner.jpeg" width="100%">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Schließen</button>
        <button (click)="openContact()" class="btn btn-primary" type="button">Termin vereinbaren</button>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="meinModalLabel" class="modal fade" id="contactModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contactModalLabel">Wir feiern Geburtstag!</h1>
        <button aria-label="Schließen" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <!--<h2 class="fs-2">Kontaktformular</h2>
        <form #contactForm="ngForm">
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input
              #nameInput="ngModel"
              [(ngModel)]="name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Dein Name"
              required
              type="text"
            >
            <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
              <div *ngIf="nameInput.errors?.['required']">
                Name ist erforderlich.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">E-Mail-Adresse</label>
            <input
              #emailInput="ngModel"
              (ngModelChange)="validateEmail(emailForMail)"
              [(ngModel)]="emailForMail"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@beispiel.de"
              required
              type="email"
            >
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
              <div *ngIf="emailInput.errors?.['required']">
                E-Mail-Adresse ist erforderlich.
              </div>
              <div *ngIf="emailInput.errors?.['pattern']">
                Bitte gib eine gültige E-Mail-Adresse ein.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="phone">Telefonnummer</label>
            <input
              #phoneInput="ngModel"
              [(ngModel)]="phone"
              class="form-control"
              id="phone"
              name="phone"
              pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$"
              placeholder="Ihre Telefonnummer"
              required
              type="tel"
            >
            <div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)" class="text-danger">
              <div *ngIf="phoneInput.errors?.['required']">
                Telefonnummer ist erforderlich.
              </div>
              <div *ngIf="phoneInput.errors?.['pattern']">
                Bitte gib eine gültige Telefonnummer ein.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="message">Nachricht</label>
            <textarea
              #messageInput="ngModel"
              [(ngModel)]="message"
              class="form-control"
              id="message"
              name="message"
              placeholder="Deine Nachricht"
              required
              rows="5"
            ></textarea>
            <div *ngIf="messageInput.invalid && (messageInput.dirty || messageInput.touched)" class="text-danger">
              <div *ngIf="messageInput.errors?.['required']">
                Nachricht ist erforderlich.
              </div>
            </div>
          </div>
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Schließen</button>
        <button
          (click)="sendEmail()"
          class="btn btn-primary"
          type="button"
        >
          Abschicken
        </button>-->
        <div class="text-center w-100">
          <div class="calendly-inline-widget"
               data-url="https://calendly.com/luckycurves/30min?hide_gdpr_banner=1"
               style="min-width:320px;height:700px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


